div.white-back{
    background-color: white;
}
div.myborder{
    border: 1px solid rgb(174, 174, 174);
    border-radius: .25rem;
}
div.card{
    min-height: 370px;
    width: 400px;
}
button.fb-btn{
    background-color: #3C5A99;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 4px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 4px solid #d24240; /* red */
}
.ng-pristine:not(form){
    border-left: 1px solid rgb(174, 174, 174);
    border-radius: .25rem;
}